@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes move {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

.moving {
    animation: move 2s ease-in-out infinite;
}